
ErgebnisseBrainstorming3.11.
ErgebnisseBrainstorming3.11.
ErgebnisseBrainstorming3.11.
Iplementierung/DIbugger/cloc.exe
Iplementierung/Implementierungsdokument.pdf
Plichtenheft/Pflichtenheft.pdf
Qalitätssicherung/*.pdf
Qalitätssicherung/*.ods#
Qalitätssicherung/*.xlsx#
RemoteSystemsTempFiles
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.swp
*.synctex.gz
*.toc
.metadata/
.recommenders/
~$Aufgabenliste für Projekte1.xlsx
